<% content_for(:title) do %>
  Register
<% end %>
<% content_for(:logo) do %>
  &#129044;
<% end %>
<% content_for(:move) do %>
  Next
<% end %>


<section class="container min-w-screen min-h-screen w-full bg-gray-200 flex flex-col items-center justify-start py-5">
 <div class="bg-white text-gray-800 shadow-lg overflow-hidden flex">
 <div class="bg-white h-full w-full px-5 pt-6 pb-20 overflow-y-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class:'hidden'%>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: 'Email', class: 'border border-snap-text/50 shadow rounded my-2'%>
    </div>

    <div class="field">
      <%= f.label :password, class:'hidden'%>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'border border-snap-text/50 shadow rounded my-2' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class:'hidden'%>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password', class: 'border border-snap-text/50 shadow rounded my-2' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" , class: 'text-sm px-4 py-2 bg-snap-main hover:bg-teal-500 text-white max-w-fit font-semibold hover:text-white border border-snap-main/500 hover:border-transparent rounded' %>
    </div>
  </div>
 </div>
<div class="flex flex-col items-center mt-10">
<%= link_to "Login", user_session_path, class: "inline-block text-sm py-1 font-semibold text-snap-text/50"%>
  </div>
</section>